
.main{
    overflow-x: hidden;
}
.header{
    background-color: rgb(0, 0, 0);
    padding:1% 3%;
}
.comingSoon{
    width:10%;
    height:auto;
    position: absolute;
    right: 40px;
    transition-duration: 2s;
    transition-timing-function: cubic-bezier(0,2,1,0.5);
}
.disableComingSoon{
    width:10%;
    height:auto;
    position: absolute;
    right: -200px;
    transition-duration: 1s;
}
.logo{
    width: 7%;
    height: auto;
}
.hero-section{
    background-image: url("../assets/images/hero-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -350px;
    text-align: center;
}
.hero-overlay{
    background-color: rgba(0, 0, 0, 0.397);
    padding:4% 0%;
}
.hero-section h1{
    font-size: 60px;
    font-weight: 800;
    padding:0% 20%;
    color: white;
}
.main-content{
    padding: 11% 3% 8% 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left-image{
    width:50%;
}
.phone-image{
    width:100%;
    height: auto;
}
.right-content{
    color:white;
    width: 45%;
    height: auto;
}
.content-title{
    margin-bottom: 3%;
    font-size: 32px;
    font-weight: 700;
}
.content-title span{
    color: grey;
}
.active{
    border-left: 4px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255)
}
.inActive{
    border-left: 4px solid grey;
    color: grey
}
.card{
    padding:4%;
}
.card h2{
    margin-bottom: 3%;
}
.card p{
    font-size: 16px;
}
.waitlist-form{
    text-align: center;
}
.waitlist-form h1{
    font-size: 60px;
    color:white;
    font-weight: 600;
}
.waitlist-form p{
    padding:1% 25% 2% 25%;
    font-size: 18px;
    color: grey
}
.input-box{
    width:40%;
    margin:0 auto;
    border:1px solid rgb(175, 175, 175);
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.input-box input{
    width:78%;
    padding:3% 2%;
    background-color: transparent;
    border: none;
    display: block;
    color: grey;
}
.input-box input:focus{
    outline:none;
}
.input-box button{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 21%;
    padding:2% 0%;
    font-size: 16px;
    border-radius:5px;
    border:none;
    cursor: pointer;
}
.social-icons{
    text-align: center;
    margin: 4% 0% 5% 0%;
}
.social-icons .icon{
    font-size: 28px;
    color:white;
    margin: 0px 10px;
}

@media only screen and (max-width:500px){
    .comingSoon{
        width:25%;
        right:10px;
        top:10px;
    }
    .disableComingSoon{
        width:30%;
    }
    .logo{
        width: 25%;
        height: auto;
    }
    .hero-section{
        height:40vh;
        background-position-y: 0px;
        margin-bottom: 10%;
    }
    .hero-overlay{
        height:40vh;
    }
    .hero-section h1{
        font-size: 25px;
        padding:8% 0% 0% 0%;
    }
    .main-content{
        margin-top: 10%;
        padding: 0%;
        flex-direction: column;
    }
    .left-image{
        width:98%;
    }
    .phone-image{
        height:50vh;
    }
    .right-content{
        margin-top: 20%;
        width:98%;
    }
    .waitlist-form {
        margin-top: 20%;
    }
    .waitlist-form h1{
        font-size: 30px;
    }
    .waitlist-form p{
        padding: 3px 1.2px;
        font-size: 14px;
    }
    .input-box{
        width:98%;
        margin-top: 4%;
    }
    .input-box input{
        width:75%;
    }
    .input-box button{
        font-size: 12px;
        border-radius:5px;
    }
    .social-icons{
        margin: 10% 0%;
    }
    .social-icons .icon{
        font-size: 20px;
    }
}